.admin-nav .active{
    border-bottom: 2px solid #006fb7 !important;
  }

  .cat_nav .active{
    border-left: 5px solid #006fb7;
  }

  .product-card img{
    width: 250px !important;
    height: 100px !important;
    margin-bottom: 10px !important;
  }

.product-card .prod-body{
  margin-left: 2% !important;
}

.features-btn{
  margin-top:10px !important;
}

.nav-active{
  border-bottom: 2px solid #adacac !important;
}

.nomal-link{
  border-bottom: 1px solid #f8fafc;
}

.feature-table th{
  border-top: none !important;
}

.feature-row{
  margin-top:20px;
}

.design-card .badge{
  margin-top:5px;
 margin-right: 10px;
}

.design-card .dropdown{
  margin-right: 10px;
  margin-bottom: 5px;
}